body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.name{
    color: orange;
}

h1{
    font-size: 50px;
}

.second-header{
    font-size: 40px;
}

.half-width{
    width: 50%;
    padding: 10px;
    margin-left: 40px;
    margin-top: 40px;
}

.half-width img{
    width: 100%;
}

.top-banner{
    margin-bottom: 80px;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.fancy-button{
    text-decoration: none;
    padding: 10px 40px;
    color: white;
    background: linear-gradient(lightsalmon,tomato);
    border-radius: 10px;
}

.dream-big{
    background-repeat: no-repeat;
    background-image: url(images/dream-bg.png);
    background-position: right;
}

.flexible{
    display: flex;
}