body {
    font-family: 'Poppins', sans-serif;

}

.name{
    color: orange;
}

h1{
    font-size: 50px;
}

.second-header{
    font-size: 40px;
}

.half-width{
    width: 50%;
    padding: 10px;
}

.half-width img{
    width: 100%;
}

.top-banner{
    display: flex;
}

.fancy-button{
    text-decoration: none;
    padding: 10px 40px;
    color: white;
    background: linear-gradient(lightsalmon,tomato);
    border-radius: 10px;
}